.menusTitle {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 100px;
    color: rgb(113, 12, 245);
    text-shadow: 1px 1px 1px rgb(230, 245, 12),
    -1px -2px 0 rgb(12, 245, 233),
    -2px -3px 1px rgb(247, 29, 0),
    2px 2px 0 rgb(255, 0, 191);
}

.linkDiv {
    text-align: center;
}

.MenusLink {
    font-weight: bold;
    background-color: rgb(246, 252, 160);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(113, 12, 245);
    width: 300px;
    padding: 5px;
    margin-top: 30px;
  }
  
  .MenusLink:hover {
    color: white;
    background-color: rgb(195, 160, 252);
  }

#menuForm {
    border: 3px solid black;
	border-radius: 5px;
	width: 500px;
	padding: 10px;
	box-sizing: border-box;
    background-color: rgb(248, 241, 253);
    margin-top: 3rem;
}

.formTitle {
    font-family: 'Lobster', cursive;
    font-size: 42px;
    padding-bottom: 15px;
    color: rgb(195, 160, 252);
    text-shadow: 1px 1px 1px rgb(113, 12, 245),
    -1px -1px rgb(113, 12, 245),
    3px -2px 1px rgb(113, 12, 245);
}

.menuBtn {
    background-color: rgb(246, 252, 160);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(113, 12, 245);
    padding: 5px;
    width: 100px;
    float: right;
    margin-right: 1rem;
    margin-top: -3.5rem;
}

.menuBtn:hover {
    color: white;
    background-color: rgb(195, 160, 252);
}
